.accordion__element h3 {
  margin: 0;
  padding: 0;

  color: $color-blue;
  font-family: $ff-manrope;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 121.429% */

  @include vp-1439 {
    font-size: 22px;
    line-height: 26px; /* 118.182% */
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 18px; /* 112.5% */
  }
}

.accordion__element p {
  margin: 0;
  padding: 0;

  color: $color-beige;
  font-family: $ff-manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */

  @include vp-1439 {
    font-size: 16px;
    line-height: 20px; /* 125% */
  }

  @include vp-767 {
    font-size: 14px;
  }
}
