.accordion {
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin: 0 auto;
  padding: 0 106px;

  @include vp-1439 {
    padding: 0;
  }
}

.accordion__element {
  position: relative;
  border: 1px solid $color-blue;
  border-radius: 16px;
  color: $color-blue;
  background-color: $color-transparent;

  display: grid;
  grid-template-columns: 1fr 40px;
  column-gap: 10px;

  padding: 40px 40px 38px;
  min-height: 120px;

  &--large {
    padding: 38px 40px 33px;
    min-height: 134px;
  }

  @include vp-1439 {
    padding: 30px;
    min-height: 100px;
    align-items: center;
    column-gap: 1px;
  }

  @include vp-767 {
    padding: 20px;
    min-height: 80px;
    column-gap: 5px;
  }

  &:hover,
  &:focus {
    background-color: $color-white;
    outline: none;
  }

  &:hover .accordion__button,
  &:focus .accordion__button {
    background-color: $color-transparent;
    transition: $trans-default;
    outline: none;

    &::before {
      background-color: $color-blue;
    }

    &::after {
      background-color: $color-blue;
    }
  }

  &:active {
    color: $color-condition;
    background-color: $color-white;
  }

  &:active .accordion__button {
    background-color: $color-condition;
    transition: $trans-default;

    &::before {
      background-color: $color-white;
    }

    &::after {
      background-color: $color-white;
    }
  }

  &:active h3 {
    color: $color-condition;
  }
}

.accordion__element.is-active {
  padding: 40px 40px 32px;
  border: 1px solid $color-blue;
  background-color: $color-blue;

  &:hover .accordion__button,
  &:focus .accordion__button {
    border: 1px solid $color-white;
    background-color: $color-transparent;
    outline: none;

    &::before {
      background-color: $color-white;
    }

    &::after {
      background-color: $color-white;
    }
  }

  &:active {
    background-color: $color-condition;
  }

  &:active .accordion__button {
    border: 1px solid $color-white;
    background-color: $color-white;

    &::before {
      background-color: $color-condition;
    }

    &::after {
      background-color: $color-condition;
    }
  }
}

.accordion__element h3 {
  margin: 0;
  padding: 2px 0;

  color: $color-blue;
  font-family: $ff-manrope;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 121.429% */
  text-align: left;

  @include vp-1439 {
    padding: 12px 0;

    font-size: 22px;
    line-height: 26px; /* 118.182% */
  }

  @include vp-767 {
    padding: 2px 0;

    font-size: 16px;
    line-height: 18px; /* 112.5% */
  }
}

.accordion__element--large h3 {
  padding: 0;
  margin: -7px 0 0;
}

.accordion__element.is-active h3 {
  color: $color-white;
}

.accordion__element br {
  @include vp-767 {
    display: none;
  }
}

.accordion__button {
  width: 40px;
  height: 40px;
  background-color: $color-blue;
  border: 1px solid $color-blue;
  border-radius: 50%;
  cursor: pointer;
  transition: $trans-default;

  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 1px;
    background-color: $color-white;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: center;
  }

  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 1px;
    background-color: $color-white;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
    transition: 0.3s transform ease;
  }

  &:hover,
  &:focus {
    background-color: $color-transparent;
    transition: $trans-default;
    outline: none;

    &::before {
      background-color: $color-blue;
    }

    &::after {
      background-color: $color-blue;
    }
  }

  &:active {
    background-color: $color-condition;
    transition: $trans-default;

    &::before {
      background-color: $color-white;
    }

    &::after {
      background-color: $color-white;
    }
  }

  &:disabled {
    background-color: $color-disabled;
    opacity: 0.6;
    pointer-events: none;
  }
}

.accordion__element.is-active .accordion__button {
  border: 1px solid $color-white;
  border-radius: 50%;
  background-color: $color-white;

  &::before {
    background-color: $color-blue;
  }

  &::after {
    background-color: $color-blue;
    transform: translateX(-50%) rotate(0deg);
  }

  &:hover,
  &:focus {
    border: 1px solid $color-white;
    background-color: $color-transparent;
    outline: none;

    &::before {
      background-color: $color-white;
    }

    &::after {
      background-color: $color-white;
    }
  }

  &:active {
    border: 1px solid $color-white;
    background-color: $color-white;

    &::before {
      background-color: $color-condition;
    }

    &::after {
      background-color: $color-condition;
    }
  }
}

.accordion__content {
  @include vp-767 {
    grid-column: 1/-1;
  }
}

.accordion__wrapper p {
  margin: 13px 0 0;
  padding: 0;
  max-width: 690px;

  color: $color-beige;
  font-family: $ff-manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */

  @include vp-1439 {
    max-width: none;
    font-size: 16px;
    line-height: 20px; /* 125% */
  }

  @include vp-767 {
    font-size: 14px;
  }
}
