.advantages {
  color: $color-white;
  background-color: $color-blue;
  padding: 73px 106px 31px 126px;
  border-radius: 20px;

  min-height: 442px;

  @include vp-1439 {
    padding: 62px 60px 40px;
  }

  @include vp-767 {
    padding: 42px 30px 40px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 54px 52px;

  @include vp-1439 {
    gap: 20px 30px;
  }

  @include vp-767 {
    grid-template-columns: repeat(1, 1fr);
    gap: 22px;
  }
}

.advantages__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 26px;

  padding: 30px 59px 25px;
  border-radius: 16px;
  border: 1px solid $color-beige;

  position: relative;

  @include vp-1439 {
    padding: 30px;

    flex-direction: column;
    gap: 12px;
  }

  @include vp-767 {
    padding: 24px 20px;
    gap: 8px;
  }

  &:nth-child(odd) {
    gap: 34px;
  }

  &:first-child {
    gap: 36px;
  }

  &:last-child {
    gap: 54px;
  }
}

.advantages__item h4 {
  margin: 0;
  padding: 0;

  color: $color-white;
  font-family: $ff-manrope;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 115.385% */
  letter-spacing: 0.26px;
  text-transform: uppercase;

  @include vp-1439 {
    font-size: 20px;
    line-height: 22px; /* 110% */
    letter-spacing: 0.2px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 20px; /* 125% */
    letter-spacing: 0.16px;
  }
}

.advantages__item p {
  margin: -5px 0 0;
  padding: 0;

  color: $color-beige;
  font-family: $ff-manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 125% */

  @include vp-1439 {
    line-height: 20px; /* 125% */
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 20px; /* 142.857% */
  }
}

.advantages__item svg {
  position: absolute;
  top: -22px;
  left: -21px;
  padding: 10px 12px;

  width: 42px;
  height: 42px;
  background-color: $color-blue;
}
