.advantages {
  color: $color-white;
  background-color: $color-blue;
  padding: 50px 106px 32px;
  border-radius: 20px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;

  @include vp-1439 {
    gap: 20px 30px;
  }

  @include vp-767 {
    gap: 0;
  }
}

.advantages__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  padding: 30px 60px;
  border-radius: 16px;
  border: 1px solid $color-beige;
}

.advantages__item h4 {
  margin: 0;
  padding: 0;

  color: $color-white;
  font-family: $ff-manrope;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 115.385% */
  letter-spacing: 0.26px;
  text-transform: uppercase;

  @include vp-1439 {
    font-size: 20px;
    line-height: 22px; /* 110% */
    letter-spacing: 0.2px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 20px; /* 125% */
    letter-spacing: 0.16px;
  }
}

.advantages__item p {
  margin: 0;
  padding: 0;

  color: $color-beige;
  font-family: $ff-manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 125% */

  @include vp-1439 {
    line-height: 20px; /* 125% */
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 20px; /* 142.857% */
  }
}
