.button {
  cursor: pointer;

  transition: background-color $trans-default;

  &:hover,
  &:focus,
  &:active {
    transition: background-color $trans-default;
  }

  &:disabled {
    pointer-events: none;
  }
}
