.contacts {
  background-color: $color-blue;
  padding: 120px 0 119px;
  min-height: 891px;

  @include vp-1439 {
    padding: 100px 0 99px;
    min-height: 906px;
  }

  @include vp-767 {
    padding: 67px 0;
    min-height: 651px;
  }
}

.contacts__heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 2px solid $color-white-02;

  @include vp-1439 {
    flex-direction: column;
    gap: 30px;
  }

  @include vp-767 {
    gap: 31px;
  }
}

.contacts__heading h2 {
  margin: 0;
  padding: 5px 0;

  color: $color-white;
  font-family: $ff-manrope;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 100% */

  @include vp-1439 {
    margin: 0;
    padding: 0;
    font-size: 34px;
  }

  @include vp-767 {
    padding: 2px 0 0;
    font-size: 20px;
    line-height: 20px; /* 100% */
  }
}

.contacts__list {
  margin: 0 1px 31px 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  gap: 52.6px;
  justify-content: flex-end;
  width: 604px;

  @include vp-1439 {
    margin: 0 0 25px;
    gap: 0;
    justify-content: space-between;
    width: 100%;
  }

  @include vp-767 {
    margin: 0 0 23px;
    flex-direction: column;
    gap: 14px;
  }
}

.contacts__item {
  display: flex;
  flex-direction: column;
  gap: 14px;

  &:first-child {
    margin: 0 4px 0 0;

    @include vp-1439 {
      margin: 0;
    }
  }

  @include vp-1439 {
    gap: 18px;
  }

  @include vp-767 {
    gap: 8px;
  }
}

.contacts__item h3 {
  margin: 0;
  padding: 0;

  color: $color-beige;
  font-family: $ff-manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 100% */
  letter-spacing: 0.12px;
  text-transform: uppercase;
  opacity: 0.8;
}

.contacts__item p,
.contacts__item a {
  margin: 0;
  padding: 0;
  color: $color-white;
  font-family: $ff-manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */

  @include vp-1439 {
    line-height: 20px; /* 125% */
  }

  @include vp-767 {
    font-size: 14px;
  }
}

.contacts__item--tel a {
  @include vp-767 {
    width: 115px;
  }
}

.contacts__item--email a {
  @include vp-767 {
    width: 91px;
  }
}

.contacts__item a {
  position: relative;

  &:hover,
  &:focus {
    outline: none;

    &::after {
      position: absolute;
      content: "";
      top: 22px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $color-white;

      @include vp-767 {
        top: 18px;
      }
    }
  }

  &:active {
    color: $color-white-07;
  }
}

.contacts__map {
  margin: 40px 0 0;

  position: relative;

  height: 500px;

  @include vp-1439 {
    margin: 30px 0 0;
  }

  @include vp-767 {
    height: 240px;
  }

  iframe {
    position: relative;
    z-index: 2;

    border-radius: 16px;
    height: 500px;

    @include vp-1439 {
      width: 100%;
      border-radius: 3%;
    }

    @include vp-767 {
      border-radius: 6%;
      height: 240px;
    }
  }

  picture {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 500px;

    @include vp-767 {
      height: 240px;
    }
  }

  img {
    margin: 0 auto;
    border-radius: 16px;
    object-fit: cover;

    @include vp-1439 {
      width: 100%;
      height: 500px;
      border-radius: 3%;
    }

    @include vp-767 {
      height: 240px;
      border-radius: 6%;
    }
  }
}
