.faq {
  min-height: 872px;

  @include vp-1439 {
    min-height: 726px;
  }

  @include vp-767 {
    min-height: 711px;
  }
}

.faq__wrapper h2 {
  margin: 0 0 67px;
  padding: 4px 0 0;

  color: $color-blue;
  text-align: center;
  font-family: $ff-manrope;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 100% */

  @include vp-1439 {
    margin: -1px 0 41px;
    padding: 0;
    font-size: 34px;
  }

  @include vp-767 {
    margin: 0 0 34px;
    font-size: 20px;
    line-height: 20px; /* 100% */
  }
}
