.form {
  background-color: $color-beige;
}

.form__wrapper {
  position: relative;
}

.form__inner-wrapper {
  background-color: $color-blue;
  width: 40%;
  z-index: 1;
}

.form__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.form__background img {
  margin: 0 auto;
  border-radius: 16px;

  @include vp-1439 {
    width: 100%;
    height: auto;
    border-radius: 4%;
  }

  @include vp-767 {
    border-radius: 8%;
  }
}
