.form {
  min-height: 803px;

  @include vp-1439 {
    min-height: 780px;
  }

  @include vp-767 {
    min-height: 753px;
  }
}

.form__wrapper {
  position: relative;
}

.form__inner-wrapper {
  padding: 70px 74px 40px;
  background-color: $color-blue;
  width: 40.2%;
  border-radius: 16px;

  position: relative;
  z-index: 1;

  @include vp-1439 {
    padding: 50px 45px 57px;
    width: 65.2%;
  }

  @include vp-767 {
    padding: 50px 15px;
    width: 100%;
  }
}

.form__inner-wrapper h2 {
  margin: 0 0 27px;
  padding: 12px 0 0;
  color: $color-white;
  font-family: $ff-manrope;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 112.5% */

  @include vp-1439 {
    margin: 0 0 17px;
    padding: 11px 0;
    font-size: 28px;
    line-height: 28px; /* 100% */
  }

  @include vp-767 {
    margin: 1px 0 17px;
    padding: 0;
    font-size: 18px;
    line-height: 22px; /* 122.222% */
  }
}

.form__inner-wrapper p {
  margin: 0 0 27px;
  padding: 0;

  color: $color-beige;
  font-family: $ff-manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  opacity: 0.9;

  @include vp-1439 {
    margin: 0 0 31px;
    line-height: 20px; /* 125% */
  }

  @include vp-767 {
    margin: 0 0 26px;
    font-size: 14px;
  }
}

.form__inner-wrapper p br {
  display: none;

  @include vp-767 {
    display: block;
  }
}

.form__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  width: 100%;
  height: 100%;
  object-fit: cover;

  background: $color-blue-02;
  border-radius: 16px;

  @include vp-1439 {
    border-radius: 2%;
  }

  @include vp-767 {
    left: -15px;
    width: calc(100% + 30px);
  }
}

.form__background img {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;

  @include vp-1439 {
    border-radius: 2%;
  }
}

// form container

.form__container form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include vp-767 {
    gap: 21px;
  }
}

.form__input-wrapper label {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include vp-1439 {
    gap: 6px;
  }

  @include vp-767 {
    gap: 11px;
  }
}

.form__input-wrapper span {
  color: $color-beige;
  font-family: $ff-manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  opacity: 0.8;

  @include vp-1439 {
    line-height: 20px; /* 142.857% */
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 14px; /* 116.667% */
  }
}

.form__input-wrapper input,
.form__input-wrapper textarea {
  width: 100%;
  height: 50px;
  padding: 0 0 0 25px;

  border-radius: 8px;
  border: 1px solid $color-white-03;
  background-color: $color-transparent;

  color: $color-white;
  font-family: $ff-manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 100% */
  transition: border 0.3s ease;

  &:hover,
  &:focus,
  &:active {
    border: 1px solid $color-white;
    transition: border 0.3s ease;
    outline: none;
  }

  &:disabled,
  &--disabled {
    background-color: $color-white;
    border: 1px solid $color-white;
    pointer-events: none;
    opacity: 0.4;
  }
}

.form__input-wrapper.is-invalid {
  input,
  textarea {
    border: 1px solid $color-error;
    background-color: rgba($color-error, 0.2);
  }
}

.form__message textarea {
  padding: 20px 20px 20px 25px;
  height: 100px;

  @include vp-767 {
    height: 94px;
  }
}

.form__button {
  margin: 24px 0 0;
  padding: 3px 4px 3px 30px;
  width: 100%;
  min-height: 54px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 28px;

  color: $color-white;
  background-color: transparent;
  text-align: center;
  font-family: $ff-manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 100% */
  letter-spacing: 0.28px;
  text-transform: uppercase;

  border-radius: 30px;
  border: 1px solid $color-white;

  @include vp-1439 {
    padding: 3px 4px 3px 29px;
    min-width: 352px;
  }

  @include vp-767 {
    margin: 8px 0 0;
    padding: 3px 3px 3px 29px;
    gap: 18px;

    // width: 221px;
    min-width: 221px;
    min-height: 42px;

    font-size: 12px;
    line-height: 12px; /* 100% */
    letter-spacing: 0.24px;
  }

  &:hover,
  &:focus {
    color: $color-blue;
    background-color: $color-white;
    outline: none;
  }

  &:hover .form__button-icon,
  &:focus .form__button-icon,
  &:active .form__button-icon {
    background-color: $color-blue;
    outline: none;
    transform: rotate(45deg);
  }

  &:hover svg,
  &:focus svg {
    color: $color-white;
  }

  &:active {
    color: $color-blue-07;
    background-color: $color-white;
  }

  &:active svg {
    color: $color-white;
    opacity: 0.7;
  }

  &:disabled,
  &--disabled {
    color: $color-disabled;
    border: 1px solid $color-disabled;
  }

  &:disabled .form__button-icon,
  &--disabled .form__button-icon {
    background-color: $color-disabled;
  }

  &:disabled svg,
  &--disabled svg {
    opacity: 0.6;
  }
}

.form__button > .form__button-icon {
  border-radius: 44px;
  background-color: $color-white;
  width: 46px;
  height: 46px;

  display: flex;
  justify-content: center;
  align-items: center;

  @include vp-767 {
    width: 34px;
    height: 34px;
  }
}

.form__button svg {
  width: 8px;
  height: 8px;
  color: $color-blue;
}

.form__button span {
  width: 240px;
  text-align: center;

  @include vp-1439 {
    width: 242px;
  }

  @include vp-767 {
    width: 162px;
  }
}

// for modals

.form__text-wrapper--secondary {
  display: flex;
  flex-direction: column;
  gap: 7px;

  margin: 0 0 20px;

  @include vp-1439 {
    gap: 13px;
  }

  @include vp-767 {
    gap: 8px;
    align-items: center;
  }
}

.form__text-wrapper--secondary h2 {
  margin: 0;
  padding: 0;

  color: $color-blue;
  font-family: $ff-manrope;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 112.5% */
  text-align: center;

  @include vp-1439 {
    font-size: 28px;
    line-height: 28px; /* 100% */
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 18px; /* 100% */
  }
}

.form__text-wrapper--secondary p {
  margin: 0;
  padding: 0;

  color: $color-basic;
  font-family: $ff-manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  text-align: center;

  @include vp-1439 {
    line-height: 20px; /* 125% */
  }

  @include vp-767 {
    font-size: 14px;
    width: 220px;
  }
}

.form__text-wrapper--secondary p br {
  display: none;

  @include vp-767 {
    display: block;
  }
}

.form__container--secondary form {
  @include vp-1439 {
    gap: 14px;
  }

  @include vp-767 {
    gap: 15px;
  }
}

.form--secondary {
  width: 510px;
  min-height: 611px;

  @include vp-1439 {
    min-height: 602px;
  }

  @include vp-767 {
    width: 290px;
    min-height: 521px;
  }
}


.form__input-wrapper--secondary input,
.form__input-wrapper--secondary textarea {
  border: 1px solid $color-basic-03;
  color: $color-basic;

  @include vp-767 {
    height: 44px;
  }

  &:hover,
  &:focus,
  &:active {
    border: 1px solid $color-basic;
    outline: none;
  }

  &:disabled,
  &--disabled {
    background-color: $color-disabled-secondary;
    border: 1px solid $color-disabled-secondary;
    pointer-events: none;
    opacity: 0.2;
  }
}

.form__input-wrapper--secondary span {
  color: $color-basic-08;

  @include vp-767 {
    font-size: 14px;
    line-height: 14px; /* 100% */
  }
}

.form__button--secondary {
  margin: 13px auto 0;
  color: $color-blue;
  border: 1px solid $color-blue;
  width: 194px;
  padding-left: 29px;

  @include vp-1439 {
    margin: 16px auto 0;
    min-width: 194px;
  }

  @include vp-767 {
    margin: 12px auto 0;
    width: 100%;
    min-height: 42px;
    padding: 2px 3px 2px 68px;
  }

  &:hover,
  &:focus {
    color: $color-white;
    background-color: $color-blue;
  }

  &:hover .form__button-icon,
  &:focus .form__button-icon,
  &:active .form__button-icon {
    background-color: $color-white;
  }

  &:hover svg,
  &:focus svg {
    color: $color-blue;
  }

  &:active {
    color: $color-white-07;
    background-color: $color-blue;
  }

  &:active svg {
    color: $color-blue;
    opacity: 0.7;
  }
}

.form__button--secondary > .form__button-icon {
  background-color: $color-blue;
}

.form__button--secondary svg {
  color: $color-white;
}

.form__button--secondary span {
  width: 84px;
}
