.hero {
  position: relative;
}

.hero h1,
.hero h2 {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.hero .container {
  padding: 0;
  max-width: none;
}

.hero__swiper {
  position: relative;

  margin: 0 auto;
  width: 100%;
  min-height: 800px;

  @include vp-1439 {
    min-height: 1024px;
  }

  @include vp-767 {
    min-height: 568px;
  }
}

.hero__slide {
  position: relative;
  min-height: 800px;
  padding: 30px 100px 59px;

  display: flex;
  align-items: flex-end;

  @include vp-1439 {
    min-height: 1024px;
    padding: 30px 45px 60px;
  }

  @include vp-767 {
    min-height: 568px;
    padding: 20px 15px;
  }
}

.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $color-blue-02;
}

.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.hero__background picture {
  display: block;
  height: 100%;
  width: 100%;
}

.hero__background img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.hero__info {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;

  @include vp-1439 {
    padding: 0;
  }

  @include vp-767 {
    padding: 0;
  }
}

.hero__pagination-wrapper {
  padding: 14px 20px;
  background-color: $color-white;
  border-radius: 20px 20px 0 0;
  width: 7.6%;
  position: relative;

  min-height: 38px;

  @include vp-1439 {
    width: 13.9%;
  }

  @include vp-767 {
    padding: 10px 16px;
    border-radius: 12px 12px 0 0;
    width: 27.6%;

    min-height: 28px;
  }
}

.hero__swiper-decor {
  position: absolute;
  right: -19px;
  width: 20px;
  height: 20px;

  &--first {
    bottom: 0;

    @include vp-767 {
      right: -15px;
    }
  }

  &--second {
    width: 26px;
    height: 26px;
    right: -25px;
    top: 0;

    @include vp-767 {
      right: -16px;
    }
  }
}

.hero__title-wrapper {
  margin: -1px 0 0;
  padding: 42px 50px 30px;
  background-color: $color-white;
  border-radius: 0 30px 30px 0;
  width: 78%;

  display: flex;
  flex-direction: column;
  gap: 15px;

  @include vp-1439 {
    margin: 0;
    padding: 30px 40px 24px;
    width: 97.2%;
  }

  @include vp-767 {
    padding: 20px 14px 16px;
    border-radius: 0 16px 16px 0;
    width: 100%;
  }
}

.hero__title-wrapper h3 {
  margin: 0;
  padding: 0;
  color: $color-blue;
  font-family: $ff-manrope;
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: 62px; /* 114.815% */

  @include vp-1439 {
    font-size: 36px;
    line-height: 44px; /* 122.222% */
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 26px; /* 118.182% */
  }
}

.hero__desc-wrapper {
  margin: -1px 0 0;
  padding: 0 50px 28px;
  background-color: $color-white;
  border-radius: 0 0 30px 30px;
  width: 62.3%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  position: relative;

  @include vp-1439 {
    padding: 0 40px 35px;
    width: 87.2%;

    align-items: flex-start;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;

    padding: 0;
    background-color: $color-transparent;
    border-radius: none;
    width: 92%;
  }

  &--large {
    padding: 7px 50px 36px;

    @include vp-1439 {
      padding: 0 40px 33px;
    }

    @include vp-767 {
      padding: 0;
      width: 90%;
    }
  }
}

.hero__description-wrapper br {
  @include vp-1439 {
    display: none;
  }
}

.hero__description-wrapper {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  gap: 15px;

  @include vp-767 {
    padding: 0 14px 10px;
    background-color: $color-white;
    border-radius: 0 0 14px;
    width: 100%;
  }
}

.hero__description-wrapper p {
  margin: -6px 0 0;
  padding: 0;

  color: $color-basic;
  font-family: $ff-manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */

  @include vp-1439 {
    margin: -3px 0 0;

    font-size: 16px;
    line-height: 20px; /* 125% */
  }

  @include vp-767 {
    margin: -4px 0 0;

    font-size: 14px;
  }
}

.hero__button-wrapper {
  @include vp-767 {
    margin: -1px 0 0;
    padding: 10px 15px;
    background-color: $color-white;
    border-radius: 0 0 14px 14px;
    width: 68.2%;
    position: relative;
  }

  &--large {
    @include vp-767 {
      width: 69.6%;
    }
  }
}

.hero__button {
  margin: -6px 0 0;
  padding: 3px 4px 3px 29px;
  width: 196px;
  min-height: 54px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 28px;

  color: $color-blue;
  text-align: center;
  font-family: $ff-manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 100% */
  letter-spacing: 0.28px;
  text-transform: uppercase;

  border-radius: 30px;
  border: 1px solid $color-blue;
  background-color: transparent;

  @include vp-1439 {
    margin: 1px 0 0;
    padding: 3px 4px 3px 30px;
  }

  @include vp-767 {
    padding: 3px 3px 3px 20px;
    gap: 18px;
    width: 152px;
    min-height: 42px;

    font-size: 12px;
    line-height: 12px; /* 100% */
    letter-spacing: 0.24px;
  }

  &:hover,
  &:focus {
    color: $color-white;
    background-color: $color-blue;
    outline: none;
  }

  &:hover div,
  &:focus div,
  &:active div {
    background-color: $color-white;
    outline: none;
    transform: rotate(45deg);
  }

  &:hover svg,
  &:focus svg {
    color: $color-blue;
  }

  &:active {
    color: $color-white-07;
    background-color: $color-blue;
  }

  &:active svg {
    color: $color-blue;
    opacity: 0.7;
  }

  &:disabled,
  &--disabled {
    color: $color-disabled;
    border: 1px solid $color-disabled;
  }

  &:disabled div,
  &--disabled div {
    background-color: $color-disabled;
  }

  &:disabled svg,
  &--disabled svg {
    opacity: 0.6;
  }
}

.hero__button > div {
  border-radius: 44px;
  background-color: $color-blue;
  width: 46px;
  height: 46px;

  display: flex;
  justify-content: center;
  align-items: center;

  @include vp-767 {
    width: 34px;
    height: 34px;
  }
}

.hero__button svg {
  width: 8px;
  height: 8px;
  color: $color-white;
}
