.reviews {
  min-height: 618px;

  @include vp-1439 {
    min-height: 547px;
  }

  @include vp-767 {
    min-height: 490px;

    overflow: hidden;
  }
}

.reviews .container {
  padding: 0 100px;

  @include vp-1439 {
    padding: 0 0 0 45px;
  }

  @include vp-767 {
    padding: 0 15px;
  }
}

.reviews__wrapper {
  display: flex;
  flex-direction: column;

  @include vp-767 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.reviews__wrapper h2 {
  margin: 0 0 46px;
  padding: 4px 0 0 2px;

  color: $color-blue;
  font-family: $ff-manrope;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 100% */

  @include vp-1439 {
    margin: 0 0 41px;
    padding: 0;
    font-size: 34px;
    line-height: 50px; /* 147.059% */
  }

  @include vp-767 {
    margin: 2px 0 31px;
    font-size: 20px;
    line-height: 20px; /* 100% */
  }
}

.reviews__nav-wraper {
  position: relative;
  height: 22px;

  @include vp-1439 {
    margin: 0 45px 0 0;
  }

  @include vp-767 {
    grid-row: 1/-1;
    grid-column: 2/3;
    margin: 0;
  }
}

.reviews__swiper-buttons {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  gap: 10px;

  @include vp-767 {
    gap: 8px;
  }
}

.reviews__swiper-button {
  width: 22px;
  height: 22px;

  background-color: $color-transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color $trans-default;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover,
  &:focus {
    background-color: $color-white;
    transition: background-color $trans-default;
    outline: none;
  }

  &:active svg {
    opacity: 0.7;
  }

  &:disabled svg,
  &--disabled svg {
    color: $color-disabled;
  }
}

.reviews__swiper-button svg {
  width: 11px;
  height: 12px;
  color: $color-blue;
}

.reviews__swiper {
  position: relative;
  width: 1240px;
  margin: 0 0 40px;

  @include vp-1439 {
    width: 100%;
    margin: 0 0 39px;
  }

  @include vp-767 {
    width: 100%;
    margin: 0;

    grid-column: 1/-1;
  }
}

.reviews__swiper-wrapper {
  height: auto;
}

.reviews__slide {
  background-color: $color-transparent;
  border-radius: 16px;
  border: 1px solid $color-blue;
  padding: 50px 50px 40px;

  display: flex;
  flex-direction: column;
  gap: 25px;

  max-width: 604px;
  min-height: 456px;
  height: auto;

  @include vp-1439 {
    max-width: 560px;
    min-height: 395px;
    padding: 49px 49px 40px;
  }

  @include vp-767 {
    min-height: 435px;
    padding: 30px 14px 23px;
    gap: 24px;
    max-width: none;
  }
}

.reviews__header-wrapper {
  display: grid;
  grid-template-columns: 90px min-content 1fr;
  align-items: center;
  gap: 15px;

  @include vp-767 {
    grid-template-columns: 60px 1fr;
    gap: 14px 10px;
  }
}

.reviews__header-wrapper img {
  border-radius: 50%;
}

.reviews__name-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reviews__name-wrapper p {
  margin: 0;
  padding: 0;

  color: $color-blue;
  font-family: $ff-manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */

  @include vp-1439 {
    font-size: 20px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 18px; /* 128.571% */
  }
}

.reviews__program-info {
  display: flex;
  gap: 25px;
  justify-content: flex-end;

  margin: 4px 0 0;

  @include vp-1439 {
    margin: 4px 1px 0 0;
  }

  @include vp-767 {
    margin: 0;
    justify-content: flex-start;

    grid-column: 1/-1;
  }
}

.reviews__program,
.reviews__program-date {
  display: flex;
  flex-direction: column;
  gap: 4px;

  @include vp-767 {
    gap: 7px;
  }
}

.reviews__program > b,
.reviews__program-date > b {
  margin: 0;
  padding: 0;

  color: $color-blue;
  font-family: $ff-manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 100% */
  letter-spacing: 0.12px;
  text-transform: uppercase;
}

.reviews__program > p,
.reviews__program-date > p {
  margin: 0;
  padding: 0;

  color: $color-basic;
  font-family: $ff-manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */

  @include vp-1439 {
    line-height: 20px; /* 142.857% */
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 14px; /* 116.667% */
    opacity: 0.9;
  }
}

.reviews__cite-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @include vp-1439 {
    gap: 16px;
  }

  @include vp-767 {
    gap: 20px;
  }
}

.reviews__cite-wrapper h3 {
  margin: 0;
  padding: 0;

  color: $color-blue;
  font-family: $ff-manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 108.333% */

  @include vp-1439 {
    font-size: 20px;
    line-height: 24px; /* 120% */
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 18px; /* 112.5% */
  }
}

.reviews__cite-wrapper cite {
  margin: 0;
  padding: 0;

  color: $color-basic;
  font-family: $ff-manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */

  @include vp-1439 {
    line-height: 20px; /* 125% */
  }

  @include vp-767 {
    margin: -5px 0 0;
    font-size: 14px;
  }
}
