// Colors
// ---------------------------------

// Default

$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);

// Project palette

$color-basic: #484848;
$color-white: #ffffff;
$color-white-02: rgba(255, 255, 255, 0.2);
$color-white-03: rgba(255, 255, 255, 0.3);
$color-white-07: rgba(255, 255, 255, 0.7);
$color-beige: #f0efe9;
$color-blue: #316dc2;
$color-blue-07: rgb(49, 109, 194, 0.7);
$color-condition: #275699;
$color-disabled: #a9afb7;
$color-error: #ff5e66;

$color-overlay: rgba(13, 29, 51, 0.4);
$color-card-overlay: rgba(49, 109, 194, 0.2);

// Typography
// ---------------------------------

$fz-default: 16px;

$ff-manrope: "Manrope", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default: ease;
$trans-default: 0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal: 0.6s cubic-bezier(0.55, 0, 0.1, 1);
$trans-600: 0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320: 320px;
$vp-768: 768px;
$vp-1240: 1240px;
$vp-1440: 1440px;

// Retina
// ---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 2dppx;
